/*h1 {
	font-family: 'Georgia';
	font-size: 120px;
	color: rgb(95,0,130);
	text-align: center;
}

h5 {
	font-family: 'Comic Sans MS';
	font-size: 25px;
	color: rgb(0,255,0);
	text-align: center;
}

p {
	font-family: 'Bookman';
	font-size: 18px;
	min-width: 400px;
	background-color: white;
}

div {
	border: 5px solid blue;
	padding: 20px;
	margin: 150px;
	text-align: left;

}

.cat-background {
	background-image: url(cat-background.jpg);
}*/
html {
	font-family: sans-serif;
	font-size: 24px;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

header {
	background-color: pink;
	grid-column: span 3;
	padding: 16px;
}

nav {
	background-color: purple;
	padding: 16px;
}

main {
	background-color: gold;
	padding: 16px;
}

aside {
	background-color: indigo;
	padding: 16px;
}

footer {
	background-color: orange;
	grid-column: span 3;
	padding: 16px;
}

.container {
	border: 1px solid rgba(0,0,0,0.4);
	display: grid;
	min-height: 100vh;
	grid-template-columns: 20% auto 20%;
	grid-template-rows: auto 1fr auto;
