h1 {
	font-family: 'Georgia';
	font-size: 120px;
	color: rgb(95,0,130);
	text-align: center;
}

h5 {
	font-family: 'Comic Sans MS';
	font-size: 25px;
	color: rgb(0,255,0);
	text-align: center;
}

p {
	font-family: 'Bookman';
	font-size: 18px;
	min-width: 400px;
}

div {
	border: 5px solid blue;
	padding: 20px;
	margin: 150px;
	text-align: left;
}